<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div>
      <a id="home-btn" href="/" class="btn">Home</a>
    </div>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user %}
            <div class="user-name">{{user.nick + '님'}}</div>
            <a id="my-profile" href="/userProfile" class="btn">내 프로필</a>
            <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
            <a id="create-team" href="/createTeam" class="btn">팀 만들기</a>
            <a id="join-team" href="/joinTeam" class="btn">팀 들어가기</a>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>
          </form>
        {% endif %}
        </div>
        <footer>
          Made by&nbsp;
          <a href="https://likerhythm.tistory.com/" target="_blank">choijmn</a>
        </footer>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>